body {
  height: 100%;
  font-family: serif;
}
h1 {
  font-family: fantasy;
}
div {
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  left: 35%;
  margin-top: 50px;
  background: sandybrown;
  width: 500px;
  height: 600px;
  border-radius: 5em;
}

#text {
  position: absolute;
  bottom: 50px;
  left: 75px; /*전체div너비-text칸너비/ 2*/
  width: 350px;
  height: 40px;

  /* text-align: left; */
  border-radius: 10px;
  border: 0px;
}
#shoppingCart {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}
ul {
  position: absolute;
  text-align: left;
  list-style-type: square;
}
li {
  text-align: left;
  line-height: 35px;
  width: 400px;

  /* border: 1px palegreen;
  border-bottom: palevioletred; */
  /* padding-right: 100px; */

  /* vertical-align: middle; */
  /* width: 200px;
  padding: 50px 10px 50px 10px; */
}
.trash {
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10px;
}
