* {
  box-sizing: border-box;
}
body {
  background: lavender;
}
.list {
  background: azure;
  width: 400px;
  margin: auto;
  border-radius: 25px;
}
header {
  height: 48px;
  border-radius: 25px 25px 0 0;
  color: white;
  font-size: 30px;
  text-align: center;
  background: rgb(240, 182, 186);
  background: linear-gradient(
    90deg,
    rgba(240, 182, 186, 1) 17%,
    rgba(182, 186, 240, 1) 39%,
    rgba(196, 184, 239, 1) 58%,
    rgba(246, 177, 214, 1) 84%
  );
}

footer {
  text-align: center;
  background: rgb(240, 182, 186);
  background: linear-gradient(
    90deg,
    rgba(240, 182, 186, 1) 17%,
    rgba(182, 186, 240, 1) 39%,
    rgba(196, 184, 239, 1) 58%,
    rgba(246, 177, 214, 1) 84%
  );
  border-radius: 0 0 25px 25px;
}
.footer_input {
  display: block;
  font-size: 15px;
  width: 400px;
  height: 35px;
  outline: none;
  border: none;
  padding: 0 10px;
}

.footer_button {
  height: 48px;
  width: 48px;
  font-size: 30px;
  color: bisque;
  background: transparent;
  border-color: bisque;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
}
.items {
  height: 400px;
  padding: 0px;
  overflow-y: scroll;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}
.divider {
  height: 1px;
  width: 95%;
  background-color: steelblue;
  margin: auto;
}

.list:hover {
  box-shadow: 5px 5px 15px 7px #c8aeff;
}
.footer_button {
  transition: all 300ms ease-in;
}
.footer_button :hover {
  transform: scale(1.1);
}

.item_delete {
  transition: all 300ms ease-in;
}

.item_delete:hover {
  transform: rotateY(180deg);
  color: red;
  cursor: pointer;
}
