body {
  margin: 100px;
  width: 400px;
  height: 500px;
  color: #311b92;
}
section {
  background-color: #fff1ff;
  min-height: 400px;
  line-height: 400px;
  text-align: center;
}

header {
  text-align: center;
  background-color: #e1bee7;
  height: 70px;
  line-height: 70px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0px;
}
h1 {
  vertical-align: middle;
}
footer {
  height: 50px;
  background-color: #ac8fb6;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  line-height: 50px;
}
#shoppingCart {
  cursor: pointer;
  vertical-align: middle;
}
#shoppingCart:hover {
  width: 35px;
  height: 35px;
}

#text {
  height: 40px;
  width: 385px;
  vertical-align: bottom;
  border: thick dashed #ac8fb6;
}
ul {
  position: absolute;
  text-align: left;
  list-style-type: square;
}
li {
  text-align: left;
  line-height: 40px;
  width: 400px;
}
.trash {
  cursor: pointer;
  vertical-align: middle;
  margin-left: 10px;
}
